# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Root source audio
/mixkit-light-rain-loop-2393.wav
